apiVersion: v1
kind: ConfigMap
metadata:
  name: research-ai-env
data:
  VITE_API_URL: "http://localhost:8080/researchai-api"
  VITE_BASE: "/researchai/"
  CORS_ORIGINS: "http://localhost:8080,http://localhost:5173"
  VD_SURF_USER: "your_username"
  VD_SURF_PASS: "your_password"
